{% extends 'base.html' %}
{% block blogactive %} active {% endblock blogactive %}
{% block css %}
<style>
    .container{

        min-height: 100vh;

    }
</style>
{% endblock css %}
{% block body %}
<div class="container">
<h1 class="my-4">well come to Djecommerce website</h1>
{% for blog in blogs %}
<div class="my-2">
        <h3 class="text-dark"><a href="ublogpost/{{blog.slug}}" class="text-dark"  >{{blog.title}}</a></h3>       
        <div class="my-2">
            {{blog.content|slice:200}}
        </div>  
    <a  href="ublogpost/{{blog.slug}}" class="text-dark" ><button type="button" class="btn btn-primary">Read more...</button></a>     
</div>
{% endfor %}
<div class="my-3">
{% if prev %}    
<button class="btn-primary"><a class="text-light" href="/ublog?page={{prev}}" > &laquo;Previous </a></button>
{% else %}
<button class="btn-primary"><a class="text-light" href="#" > &laquo;Previous </a></button>
{% endif %}
{% if nxt %}    
<button class="btn-primary" style="float:right;"><a class="text-light" href="/ublog?page={{nxt}}" > &raquo;Next </a></button>
{% else %}
<button class="btn-primary" style="float:right;"><a class="text-light" href="#" > &raquo;Next </a></button>
{% endif %}
</div>
</div>
{% endblock body %}